:root {
  /* Theme 1 Colors */
  --clr-main-bg-very-dark-des-blue: hsl(222, 26%, 31%);
  --clr-keypad-bg-very-dark-des-blue: hsl(223, 31%, 20%);
  --clr-screen-bg-very-dark-des-blue: hsl(224, 36%, 15%);

  --clr-key-bg-des-dark-blue: hsl(225, 21%, 49%);
  --clr-key-shadow-des-dark-blue: hsl(224, 28%, 35%);
  --clr-key-bg-red: hsl(6, 63%, 50%);
  --clr-key-shadow-dark-red: hsl(6, 70%, 34%);
  --clr-key-bg-light-grayish-orange: hsl(30, 25%, 89%);
  --clr-key-shadow-grayish-orange: hsl(28, 16%, 65%);

  --clr-light-light-grayish-orange: hsl(30, 25%, 99%);
  --clr-light-red: hsl(6, 63%, 65%);
  --clr-light-des-blue: hsl(225, 21%, 65%);

  --clr-txt-very-dark-grayish-blue: hsl(221, 14%, 31%);

  --clr-t1-key-bg-hover: #ffffff;
  --clr-t1-key-primary-bg-hover: #a2b3e1;
  --clr-t1-key-accent-bg-hover: #f96c5b;

  /* Theme 2 Colors */
  --clr-main-bg-light-gray: hsl(0, 0%, 90%);
  --clr-keypad-bg-grayish-red: hsl(0, 5%, 81%);
  --clr-screen-bg-very-light-gray: hsl(0, 0%, 93%);

  --clr-key-bg-dark-moderate-cyan: hsl(185, 42%, 37%);
  --clr-key-bg-very-dark-cyan: hsl(185, 58%, 25%);
  --clr-key-bg-orange: hsl(25, 98%, 40%);
  --clr-key-bg-dark-orange: hsl(25, 99%, 27%);
  --clr-key-bg-light-grayish-yellow: hsl(45, 7%, 89%);
  --clr-key-bg-dark-grayish-orange: hsl(35, 11%, 61%);

  --clr-txt-very-dark-grayish-yellow: hsl(60, 10%, 19%);

  --clr-t2-key-bg-hover: #ffffff;
  --clr-t2-key-primary-bg-hover: #62b5bd;
  --clr-t2-key-accent-bg-hover: #ff8b38;

  /* Theme 3 Colors */
  --clr-main-bg-very-dark-violet: hsl(268, 75%, 9%);
  --clr-screen-bg-very-dark-violet: hsl(268, 71%, 12%);

  --clr-key-bg-dark-violet: hsl(281, 89%, 26%);
  --clr-key-bg-vivid-magenta: hsl(285, 91%, 52%);
  --clr-key-bg-pure-cyan: hsl(176, 100%, 44%);
  --clr-key-bg-soft-cyan: hsl(177, 92%, 70%);
  --clr-key-bg-very-dark-violet: hsl(268, 47%, 21%);
  --clr-key-bg-dark-magenta: hsl(290, 70%, 36%);

  --clr-txt-light-yellow: hsl(52, 100%, 62%);
  --clr-txt-very-dark-blue: hsl(198, 20%, 13%);

  --clr-t3-key-bg-hover: #6b34ac;
  --clr-t3-key-primary-bg-hover: #8730b2;
  --clr-t3-key-accent-bg-hover: #94fff9;

  --fs-screen-current: 2rem;
  --fs-screen-previous: 1.5rem;
  --fs-keys: 1.75rem;
  --fs-keys-special: 1.25rem;
  --fs-h1: 1.25rem;
  --fs-theme: 0.6rem;
  --fs-theme: 0.6rem;

  --ff-primary: "League Spartan", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --transition: "0.25s ease-in-out";
}

.theme-1 {
  --txt-calc-header-h1: #fff;
  --txt-title-container-span: #fff;
  --txt-toggle-label-span: #fff;
  --txt-calc-screen-text: #fff;
  --txt-keys: var(--clr-keypad-bg-very-dark-des-blue);
  --txt-keys-primary: #fff;
  --txt-keys-accent: #fff;

  --bg-body: var(--clr-main-bg-very-dark-des-blue);
  --bg-toggle-container: var(--clr-keypad-bg-very-dark-des-blue);
  --bg-toggle-btn: var(--clr-key-bg-red);
  --bg-calc-screen: var(--clr-screen-bg-very-dark-des-blue);
  --bg-calc-keypad: var(--clr-keypad-bg-very-dark-des-blue);
  --bg-keys: var(--clr-key-bg-light-grayish-orange);
  --bg-keys-primary: var(--clr-key-bg-des-dark-blue);
  --bg-keys-accent: var(--clr-key-bg-red);

  --bg-hover-keys: var(--clr-t1-key-bg-hover);
  --bg-hover-keys-primary: var(--clr-t1-key-primary-bg-hover);
  --bg-hover-keys-accent: var(--clr-t1-key-accent-bg-hover);

  --box-shadow-keys: 0 3px 1px var(--clr-key-shadow-grayish-orange);
  --box-shadow-keys-primary: 0 3px 1px var(--clr-key-shadow-des-dark-blue);
  --box-shadow-keys-accent: 0 3px 1px var(--clr-key-shadow-dark-red);
}

.theme-2 {
  --txt-calc-header-h1: var(--clr-txt-very-dark-grayish-yellow);
  --txt-title-container-span: var(--clr-txt-very-dark-grayish-yellow);
  --txt-toggle-label-span: var(--clr-txt-very-dark-grayish-yellow);
  --txt-calc-screen-text: var(--clr-txt-very-dark-grayish-yellow);
  --txt-keys: var(--clr-txt-very-dark-grayish-yellow);
  --txt-keys-primary: #fff;
  --txt-keys-accent: #fff;

  --bg-body: var(--clr-main-bg-light-gray);
  --bg-toggle-container: var(--clr-keypad-bg-grayish-red);
  --bg-toggle-btn: var(--clr-key-bg-orange);
  --bg-calc-screen: var(--clr-screen-bg-very-light-gray);
  --bg-calc-keypad: var(--clr-keypad-bg-grayish-red);
  --bg-keys: var(--clr-key-bg-light-grayish-yellow);
  --bg-keys-primary: var(--clr-key-bg-dark-moderate-cyan);
  --bg-keys-accent: var(--clr-key-bg-orange);

  --bg-hover-keys: var(--clr-t2-key-bg-hover);
  --bg-hover-keys-primary: var(--clr-t2-key-primary-bg-hover);
  --bg-hover-keys-accent: var(--clr-t2-key-accent-bg-hover);

  --box-shadow-keys: 0 3px 1px var(--clr-key-shadow-grayish-orange);
  --box-shadow-keys-primary: 0 3px 1px var(--clr-key-bg-very-dark-cyan);
  --box-shadow-keys-accent: 0 3px 1px var(--clr-key-bg-dark-orange);
}

.theme-3 {
  --txt-calc-header-h1: var(--clr-txt-light-yellow);
  --txt-title-container-span: var(--clr-txt-light-yellow);
  --txt-toggle-label-span: var(--clr-txt-light-yellow);
  --txt-calc-screen-text: var(--clr-txt-light-yellow);
  --txt-keys: var(--clr-txt-light-yellow);
  --txt-keys-primary: #fff;
  --txt-keys-accent: #fff;

  --bg-body: var(--clr-main-bg-very-dark-violet);
  --bg-toggle-container: var(--clr-screen-bg-very-dark-violet);
  --bg-toggle-btn: var(--clr-key-bg-pure-cyan);
  --bg-calc-screen: var(--clr-screen-bg-very-dark-violet);
  --bg-calc-keypad: var(--clr-screen-bg-very-dark-violet);
  --bg-keys: var(--clr-key-bg-very-dark-violet);
  --bg-keys-primary: var(--clr-key-bg-dark-violet);
  --bg-keys-accent: var(--clr-key-bg-pure-cyan);

  --bg-hover-keys: var(--clr-t3-key-bg-hover);
  --bg-hover-keys-primary: var(--clr-t3-key-primary-bg-hover);
  --bg-hover-keys-accent: var(--clr-t3-key-accent-bg-hover);

  --box-shadow-keys: 0 3px 1px var(--clr-key-bg-dark-magenta);
  --box-shadow-keys-primary: 0 3px 1px var(--clr-key-bg-vivid-magenta);
  --box-shadow-keys-accent: 0 3px 1px var(--clr-key-bg-soft-cyan);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: 0.15s ease-in-out;
}

html,
body,
h1,
h2,
h3,
span,
label {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--bg-body);
}

main {
  height: 98vh;
  width: 100%;
}

/* Util */
.br-05 {
  border-radius: 0.5em;
}
.col-span-2 {
  grid-column: span 2;
}
/* End Util */

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: grid;
  gap: 1em;
  width: 425px;
  height: minmax(700px, auto);
}

.calc__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.calc__header > h1 {
  font-size: var(--fs-h1);

  color: var(--txt-calc-header-h1);
}

.title-container > span {
  color: var(--txt-title-container-span);
}

.theme-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.toggle-label-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  justify-content: space-around;
  padding: 0.1em 0;
}

.toggle-label {
  font-size: var(--fs-theme);

  color: var(--txt-toggle-label-span);
}

.theme-container .title-container {
  display: flex;
  align-items: center;
  font-size: var(--fs-theme);
  letter-spacing: 0.05rem;
  font-weight: var(--fw-medium);
}

.toggle-container {
  position: relative;
  width: 50px;
  border-radius: 1em;
  padding: 0.25em 0.3em;
  transition: 0.2s ease-in-out;

  background-color: var(--bg-toggle-container);
}

.toggle-container #toggle-btn {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  transition: 0.2s ease-in-out;

  background-color: var(--bg-toggle-btn);
}

.calc__screen {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  width: 100%;
  padding: 1em;
  gap: 0;
  min-height: 7em;

  background-color: var(--bg-calc-screen);
}

.calc__screen .previous-digit {
  font-size: var(--fs-screen-previous);
  font-weight: var(--fw-medium);

  color: var(--txt-calc-screen-text);
}

.calc__screen .current-digit {
  font-size: var(--fs-screen-current);
  font-weight: var(--fw-bold);

  color: var(--txt-calc-screen-text);
}

.calc__keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1.5em;
  gap: 1.25em;

  background-color: var(--bg-calc-keypad);
}

.keys {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--fs-keys);
  font-weight: var(--fw-bold);

  padding: 0.5em;
  border: none;
  border-radius: 0.25em;

  background-color: var(--bg-keys);
  box-shadow: var(--box-shadow-keys);
  color: var(--txt-keys);
}

.keys.primary {
  background-color: var(--bg-keys-primary);
  box-shadow: var(--box-shadow-keys-primary);
  color: var(--txt-keys-primary);
}

.keys.keys.accent {
  background-color: var(--bg-keys-accent);
  box-shadow: var(--box-shadow-keys-accent);
  color: var(--txt-keys-accent);
}

.keys.primary,
.keys.accent {
  font-size: var(--fs-keys-special);
}

.keys:hover,
.keys.primary:hover,
.keys.accent:hover,
.toggle-container #toggle-btn {
  cursor: pointer;
}

@media (max-width: 450px) {
  body {
    padding: 0 0.5em;
  }
}
