@import "./general.css";

body {
  background-color: var(--clr-main-bg-light-gray);
}

.calc__header > h1 {
  color: var(--clr-txt-very-dark-grayish-yellow);
}

.title-container > span {
  color: var(--clr-txt-very-dark-grayish-yellow);
}

.toggle-label {
  color: var(--clr-txt-very-dark-grayish-yellow);
}

.toggle-container {
  background-color: var(--clr-keypad-bg-grayish-red);
}
#toggle-btn {
  background-color: var(--clr-key-bg-orange);
}

.calc__screen {
  background-color: var(--clr-screen-bg-very-light-gray);
}

.calc__screen .previous-digit,
.calc__screen .current-digit {
  color: var(--clr-txt-very-dark-grayish-yellow);
}

.calc__keypad {
  background-color: var(--clr-keypad-bg-grayish-red);
}

.keys {
  background-color: var(--clr-key-bg-light-grayish-yellow);
  box-shadow: 0 3px 1px var(--clr-key-shadow-grayish-orange);
  color: var(--clr-txt-very-dark-grayish-yellow);
}

.keys.primary {
  background-color: var(--clr-key-bg-dark-moderate-cyan);
  box-shadow: 0 3px 1px var(--clr-key-bg-very-dark-cyan);
  color: white;
}

.keys.accent {
  background-color: var(--clr-key-bg-orange);
  box-shadow: 0 3px 1px var(--clr-key-bg-dark-orange);
  color: white;
}

.keys:hover {
  background-color: var(--clr-t2-key-bg-hover);
}

.keys.primary:hover {
  background-color: var(--clr-t2-key-primary-bg-hover);
}

.keys.accent:hover {
  background-color: var(--clr-t2-key-accent-bg-hover);
}
