@import "./general.css";

body {
  background-color: var(--clr-main-bg-very-dark-violet);
}

.calc__header > h1 {
  color: var(--clr-txt-light-yellow);
}

.title-container > span {
  color: var(--clr-txt-light-yellow);
}

.toggle-label {
  color: var(--clr-txt-light-yellow);
}

.toggle-container {
  background-color: var(--clr-screen-bg-very-dark-violet);
}
#toggle-btn {
  background-color: var(--clr-key-bg-pure-cyan);
}

.calc__screen {
  background-color: var(--clr-screen-bg-very-dark-violet);
}

.calc__screen .previous-digit,
.calc__screen .current-digit {
  color: var(--clr-txt-light-yellow);
}

.calc__keypad {
  background-color: var(--clr-screen-bg-very-dark-violet);
}

.keys {
  background-color: var(--clr-key-bg-very-dark-violet);
  box-shadow: 0 3px 1px var(--clr-key-bg-dark-magenta);
  color: var(--clr-txt-light-yellow);
}

.keys.primary {
  background-color: var(--clr-key-bg-dark-violet);
  box-shadow: 0 3px 1px var(--clr-key-bg-vivid-magenta);
  color: white;
}

.keys.accent {
  background-color: var(--clr-key-bg-pure-cyan);
  box-shadow: 0 3px 1px var(--clr-key-bg-soft-cyan);
  color: var(--clr-txt-very-dark-blue);
}

.keys:hover {
  background-color: var(--clr-t3-key-bg-hover);
}

.keys.primary:hover {
  background-color: var(--clr-t3-key-primary-bg-hover);
}

.keys.accent:hover {
  background-color: var(--clr-t3-key-accent-bg-hover);
}
